.heading {
  text-align: center;
  margin: 12px 0;
  font-weight: 700;
  size: 16px;
  line-height: 20px;
  letter-spacing: 0.16px;
}
.subHeading {
  margin: 14px;
  font-weight: 400;
  size: 12px;
  line-height: 12px;
  letter-spacing: 0.32px;
  color: #6e6e6e;
  text-align: center;
}
.plusBtn {
  background: #ed1164;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 21px;
  height: 21px;
  left: 86px;
  top: 58px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  position: absolute;
}
.plusMinusBtn {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 42px;
  height: 14px;
  left: 76px;
  top: 64px;
  color: #ed1164;
}
.plusSymbol {
  color: #ffffff;
}
.itemContainer {
  margin-left: 16px;
  display: grid;
  overflow: scroll;
  grid-template-columns: 50% 50%;
  grid-template-rows: 12% 12% 12% 12% 12% 12% 12% 12% 12% 12%;
  flex-direction: row;
  margin-bottom: 20px;
}
@media screen and (min-width: 460px) {
  .itemContainer {
    grid-template-columns: 35% 35% 35%;
    grid-template-rows: 17% 17% 17% 17% 17% 17% 17%;
  }
}
@media screen and (min-width: 885px) {
  .itemContainer {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
  }
}
@media screen and (min-width: 1250px) {
  .itemContainer {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30% 30%;
  }
}
.imgContainer {
  background: #fff;
  box-sizing: border-box;
  width: 112px;
  height: 84px;
  left: 0px;
  top: 0px;
  border: 0.5px solid #e2e2e2;
  border-radius: 8px;
  text-align: center;
  position: relative;
  margin-bottom: 82px;
}
.btn {
  background: #ed1164;
  color: #fff;
  height: 44px;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
}
.headerClass {
  margin-top: 7px;
  margin-bottom: 0;
}
.viewCartBtn {
  padding: 12px 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  position: sticky;
  bottom: 0;
  justify-content: flex-end;
  z-index: 12;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Items added to cart css */
.cartImg {
  height: 42px;
  width: 42px;
}
.cartHeader {
  margin-top: 0;
  margin-bottom: 0;
}
.cartPlusBtn {
  background: #ed1164;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 21px;
  height: 21px;
  left: 86px;
  top: 58px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  /* position: absolute; */
}
.cartPlusMinusBtn {
  /* position: absolute; */
  background: #ffffff;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 42px;
  height: 14px;
  left: 76px;
  top: 64px;
  color: #ed1164;
}
.cartPlusSymbol {
  color: #ffffff;
}
.footerBill {
  display: flex;
  line-height: 0;
  justify-content: space-between;
  margin-top: -16px;
}
